<div class="">
  <header>
    <nav class="bg-dark">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo responsive-img"><img src="../assets/logo/logo.png"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a>Home</a></li>
          <li>
            <a href="">Login</a>
          </li>
          <li><a href="">About Us</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a>Home</a></li>
      <li><a href="">Login</a></li>
      <li><a href="">About Us</a></li>
    </ul>

  </header>

  <section id="slider">
    <div class="slider">
      <ul class="slides">
        <li>
          <img class="responsive-img" src="../assets/slider/slider_1.jpg"> <!-- random image -->
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img class="responsive-img" src="../assets/slider/slider_2.jpg"> <!-- random image -->
          <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img class="responsive-img" src="../assets/slider/slider_3.jpg"> <!-- random image -->
          <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img class="responsive-img" src="../assets/slider/slider_4.jpg"> <!-- random image -->
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section id="artical">
    <div class="row">
      <h2>Find the Best <span>Car ForYou</span></h2>
      <p>Car buying is always everybody's dream and it is very special occasion, we as a premium car dealership always
        endeavor to achieve highest level of customer satisfaction and improving the buying experience for our
        customers.</p>
        <div class="col s12">
          <div class="col s12 m4 l4">
            <div class="card">
              <div class="card-image">
                <img src="../assets/banner/car1.jpg">
               </div>
              <div class="card-content">
                <h4 class="card-title">Lamberghini</h4>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card">
              <div class="card-image">
                <img src="../assets/banner/car2.png">
               </div>
              <div class="card-content">
                <h4 class="card-title">Ford</h4>
              </div>
            </div>
          </div>
          <div class="col s12 m4 l4">
            <div class="card">
              <div class="card-image">
                <img src="../assets/banner/car3.jpg">
               </div>
              <div class="card-content">
                <h4 class="card-title">BMW</h4>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
