<section id="registration">

  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12 center heading">
        <h5>Registration</h5>
      </div>
      <div class="col s12 m12 l12"
        style="display: inline-block; box-shadow: 2px 2px 2px 2px gray; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
        <!-- <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;"> -->
        <form class="col s12" method="post">
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" name="firstName" [(ngModel)]="user.firstName" class="form-control">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" name="lastName" [(ngModel)]="user.lastName" class="form-control">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="col s3 m3 l3">
              <label for='gender'>Gender:</label>
            </div>
            <div class="col s3 m3 l3">
              <label>
                <input class="form-control" name="gender" [(ngModel)]="user.gender" value="male" type="radio" />
                <span>Male</span>
              </label>
            </div>
            <div class="col s3 m3 l3">
              <label>
                <input class="form-control" name="gender" [(ngModel)]="user.gender" value="female" type="radio" />
                <span>Female</span>
              </label>
            </div>
            <div class="col s3 m3 l3">
              <label>
                <input class="form-control" name="gender" [(ngModel)]="user.gender" value="trans" type="radio" />
                <span>Trans</span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="phone" type="tel" name="phone" [(ngModel)]="user.phone" class="form-control">
              <label for="phone">Phone Number</label>
            </div>
            <div class="input-field col s6">
              <input id="dob" type="date" name="dob" [(ngModel)]="user.dateOfBirth" class="form-control">
              <label for="dob">Date Of Birth</label>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s6'>
              <input class="form-control" type='email' name="email" [(ngModel)]="user.email" id='email' />
              <label for='email'>Enter your email</label>
            </div>
            <div class="input-field col s6">
              <select [(ngModel)]="user.role" (change)="onSelectRole($event)">
                <option value="" disabled selected>Choose your option</option>
                <option value="Employee">Employee</option>
                <option value="Manager">Manager</option>
                <option value="Customer">Customer</option>
              </select>
              <label for='role'>Choose role</label>
              {{role}}
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s6'>
              <input class='validate' type='password' name="password1" [(ngModel)]="password1" id='password1' />
              <label for='password1'>Enter your password</label>
            </div>
            <div class='input-field col s6'>
              <input class='form-control' type='text' name="password2" [(ngModel)]="password2" id='password2' />
              <label for='password2'>Confirm Password</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <label for="address">Address</label>
              <textarea id="address" class="regTextArea" name="address" [(ngModel)]="user.address"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col s10">
              <input type="file" name="image" accept="image/png, image/jpeg" (change)="onFileSelected($event)"/>
            </div>
            <div class="col s2" style="border: 1px solid black;"><img [src]="imgURL" width="100px" height="100px"></div>
          </div>
          <div class="row">
            <label style='float: right;'>
              <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
            </label>
          </div>

          <br />

          <div class='row'>
            <button type='submit' (click)="registration()" name='btn_login'
              class='col s12 btn btn-large waves-effect indigo'>Registration</button>
          </div>

        </form>
        {{user|json}}
        <!-- </div> -->
      </div>
    </div>
  </div>

</section>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
